.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 , h3{
  color: white;
}

.button{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button button{
  display: block;
  padding: .5rem 2rem;
  border: none;
  outline: none;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
}

.container{
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-template-rows: repeat(3 , 1fr);
  gap:.5rem;
}

.modal{
  background-color:rgba(255,255,255,.4);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  transform:scale(0);
  transition:all .4s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
.open{
  transform: scale(1);
}
.inner-modal{
  width: 20vw;
  padding: 1rem;
  background-color:white;
  border-radius: 1rem;
}

.inner-modal p:first-child{
  color: rgb(57, 250, 66);
  font-size: 1.5rem;
  font-weight: bold;
}
p span{
  color: red;
}
.inner-modal button{
  padding: .5rem 2rem;
  border: none;
  outline: none;
  border-radius:5px;
  border:1px solid rgb(160, 3, 160);
  color: rgb(160, 3, 160);
  background-color: transparent;
}

@media  screen and (max-width:480px) {
  .container{
    width: 90%;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(4 , 1fr);
  }

  .button{
    width: 90%;
  }

  .inner-modal{
    width: 60vw;
  }
}