@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Zen Kurenaido', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7a0066;
}

